{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block titleh %}
  Editar Aluno
{% endblock titleh %}

{% block titulo %}
  Editar Aluno
{% endblock titulo %}

{% block conteudo %}
<main class="main-content  mt-0">
  <section>
    <span class="mask bg-gradient-dark opacity-6"></span> 
    <div class="page-header min-vh-100">
      <div class="container">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto" style="width: 90%;">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="font-weight-bolder">Editar Cadastro do Aluno</h4>
              </div>
              <div class="card-body">
                <!-- formulário -->
                <form method="POST" role="form">
                  {% csrf_token %}
                  <div class="row2 car mb-2">
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="nome">Nome completo do Aluno </label>
                      <input type="text" name="nome" value="{{aluno.nome}}" class="form-control" id="nome"
                        autocomplete="off" readonly>
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="nascimento">Nascimento </label>
                      <input type="text" name="nascimento" value="{{aluno.nascimento}}" class="form-control"
                        id="nascimento" autocomplete="off" readonly>
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="telefone">Telefone: </label>
                      <input type="text" name="telefone" value="{{aluno.telefone}}" class="form-control"
                        id="telefone" autocomplete="off">
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="email">E-mail: </label>
                      <input type="email" name="email" value="{{aluno.email}}" class="form-control" id="email"
                        autocomplete="off">
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="rg">RG</label>
                      <input type="text" name="rg" value="{{aluno.rg}}" class="form-control" id="rg"
                        autocomplete="off"readonly>
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="cpf">CPF</label>
                      <input type="text" name="cpf" value="{{aluno.cpf}}" class="form-control" id="cpf"
                        autocomplete="off" readonly>
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="bairro">Bairro</label>
                      <input type="text" name="bairro" value="{{aluno.bairro}}" class="form-control" id="bairro"
                        autocomplete="off">
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="rua">Rua</label>
                      <input type="text" name="rua" value="{{aluno.rua}}" class="form-control" id="rua"
                        autocomplete="off">
                    </div>
                    <div class="input-group input-group-outline mb-3" style="margin: 10px; width: 22%;">
                      <label class="form-label" for="num_residencia">Nº da Residência</label>
                      <input type="text" name="num_residencia" value="{{aluno.num_residencia}}"
                        class="form-control" id="num_residencia" autocomplete="off">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Salvar</button>
                  <button type="reset" class="btn btn-primary">Limpar</button>
                  <a href="{% url 'add_medidas' dadosAcademia.id %}"class="btn btn-primary">Novas medidas</a>
                </form>
              <!-- fim do formulário -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Modal -->
{% endblock conteudo %}