{% extends 'base.html' %}

{% block titleh %}Editar{% endblock titleh %}

{% block titulo %}Editar Usuário{% endblock titulo %}

{% block conteudo %}

<main class="main-content  mt-0">
  <section>
    <span class="mask bg-gradient-dark opacity-6"></span> 
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div 
              style="margin-top: 37px!important;
                    width: 32%;
                    margin-left: 101px;"
              class=" col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div 
              style="
                    box-shadow: 5px 9px 10px 0px rgb(0 0 0 / 32%);" 
              class=" position-relative bg-gradient-primary h-100 m-3 border-radius-lg d-flex flex-column justify-content-center">
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="font-weight-bolder">Editar {{User.nome}}</h4>
              </div>
              <div class="card-body" >
                <!-- formulário -->          
                <form method="POST" role="form">
                  {% csrf_token %}
                  <div class="input-group input-group-outline mb-3">
                      <label class="form-label" for="usuario">Usuário: </label>
                      <input type="text" name="usuario" value="{{request.user.username}}" class="form-control" id="usuario" autocomplete="off" readonly>
                  </div>
                  <div class="input-group input-group-outline mb-3">
                      <label class="form-label" for="email">E-mail: </label>
                      <input type="email" name="email" value="{{request.user.email}}" class="form-control" id="email" autocomplete="off" readonly>
                  </div>
                  <div class="input-group input-group-outline mb-3">
                      <label class="form-label" for="senha1">Senha: </label>
                      <input type="password" name="senha1" class="form-control" id="senha1">
                    </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label" for="senha2">Repita Senha:</label>
                    <input type="password" name="senha2" class="form-control" id="senha2">
                  </div>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                  <button type="reset" class="btn btn-secondary">Limpar</button> 
                </form>
              <!-- fim do formulário -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock conteudo %}